 * {
   margin: 0;
   padding: 0;
 }

 *,
 *::after,
 *::before {
   box-sizing: inherit
 }

 html {

   box-sizing: border-box;
   /* 1rem = 10px; 10/16 * 100 = 62.5 */
   font-size: 62.5%;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
 }

 body {
   /* typography */
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   color: rgba(255, 255, 255, 0.87);
   font-weight: 400;
   line-height: 1.6;
 }

 button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6rem 1.2rem;
   font-size: 1.5rem;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   /* transition animation */
   transition: border-color 0.25s;
   color: white;
 }


 @media (max-width: 31.25em) {
      body {
      font-size: 7px;
    }

  .app,
  .sidebar,
  .sim-area, 
  .sim-field,
  .action-area {
    padding: 8px !important; 
    gap: 8px !important;    
  }

  /* Reduce sidebar width to 70% of its original */
  .sidebar {
    flex: 0 1 18rem !important;
    gap: 1rem !important;
  }
}


/* ReactJS's css modules have precedence over global styles */
/* Refactor to use some other approach other than !important later */

