 * {
   margin: 0;
   padding: 0;
 }

 *,
 *::after,
 *::before {
   box-sizing: inherit
 }

 html {

   box-sizing: border-box;
   /* 1rem = 10px; 10/16 * 100 = 62.5 */
   font-size: 62.5%;    
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
 }

 body {
   /* typography */
   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   color: rgba(255, 255, 255, 0.87);
   font-weight: 400;
   line-height: 1.6;
 }

 button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6rem 1.2rem;
   font-size: 1.5rem;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   /* transition animation */
   transition: border-color 0.25s;
   color: white;
 }

 /* 
 desktop first approach
 breakpoints,
  68.75em =>  very large 
  56.25em =>  large 
  37.5em =>   medium 
  31.25em =>  small 

$bp-largest: 75em;  // 1200px / 16px    = 75em;
$bp-large: 62.5em;  // 1000px / 16px    = 62.5em;
$bp-medium: 50em;   // 800px / 16px     = 50em;
$bp-small: 37.5em;  // 600px / 16px     = 37.5em;
*/

