 * {
   margin: 0;
   padding: 0;
 }

 *,
 *::after,
 *::before {
   box-sizing: inherit
 }

 html {
   /* 1rem = 10px */
   box-sizing: border-box;
   font-size: 62.5%;
  font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

 body {
  /* flex for base layout */
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

  /* typography */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    line-height: 1.5;
    font-weight: 400;
  }

 button {
   border-radius: 8px;
   border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
  /* transition animation */
  transition: border-color 0.25s;
  color: white;
  }

 /* 
 desktop first approach
 breakpoints,
  68.75em =>  very large 
  56.25em =>  large 
  37.5em =>   medium 
  31.25em =>  small 
 */


 /* animations */
 @keyframes pulsate {
   0% {
     transform: scale(1);
     box-shadow: none
   }
50% {
  transform: scale(1.05);

  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25)
}
100% {
  transform: scale(1);
  box-shadow: none;
}
}