.drop-area {
    align-self: stretch;
    height: 100%;
    border: 2px dashed rgb(70, 80, 100);
    border-radius: 1.2rem;
    background-color: rgb(20, 30, 45);
    transition: background-color 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-area:hover {
    background-color: rgb(25, 35, 50);
}