.popup {
    /* Frame 10 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 530px;
    height: 274px;

    background: #141D2B;
    border: 1px solid #364153;
    border-radius: 14px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.input-field {
    /* Frame 7 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: 482px;
    height: 43px;

    background: #364153;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    /*By adding this effect as a present you can reuse this anytime.*/
}